@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,900italic,400italic,300italic,300,100italic,100)

*
  margin: 0
  padding: 0
  // font-size: 100%
  // font: inherit

::before, ::after
  content: ''

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

// html, body
//   height: 100%
//   width: 100%

.hello
  color: red
  font-family: 'Lato'
  font-weight: 900
